.search-container{
    background: #fff;
    height: 40px;
    border-radius: 30px;
    padding: 5px 20px;
    border: 2px solid var(--green-color);
    cursor: pointer;
    width: min(95% ,500px);
    margin: 20px auto;
}

.search-container:hover {
    outline: 2px solid var(--green-color);
    outline-offset: 1px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.searchBtn-icon{
    color: var(--green-color);
}
